
.container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 370px;
  margin-bottom: 20px;
}
.card {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(28, 27, 27, 0.115);
  // overflow: hidden;
}
.card_header {
  height: 70%;
  width: 100%;
  
}
.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.tag {
  background-color: #47bcd4;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.card_body p {
  font-size: 13px;
  margin: 0 0 40px;
}

